# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Build output
bin/*

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# IDE - IntelliJ IDEA
.idea/

# Dependency directories (go.sum should be committed)
vendor/
